NEXT_PUBLIC_SUPABASE_UPLOAD_BUCKET_NAME="uploads"
NEXT_PUBLIC_SUPABASE_URL=your-project-url
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_OR_ANON_KEY=your-supabase-publishable-or-anon-key
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=your-supabase-publishable-key

GEMINI_API_KEY=your-gemini-api-key

# optional for google sign in
SUPABASE_AUTH_EXTERNAL_GOOGLE_CLIENT_SECRET=google-client-secret
SUPABASE_AUTH_EXTERNAL_GOOGLE_CLIENT_ID=google-client-id